@page
@model amf_task_assignment.Pages.Tasks.IndexModel
@{
}



<br />
<h2>Tasks</h2><br />
<a class='btn btn-primary btn-sm' href='/Tasks/Create'> Add New Task</a><br />

<table class="table">
    <thead>
        <tr>
            <th>TaskID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        
        @foreach(var item in Model.taskLists)
        {
            <tr>
                <td>@item.TaskID</td>
                <td>@item.Title</td>
                <td>@item.Description</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="/Tasks/Edit?id=@item.TaskID">Edit</a>
                    <a class="btn btn-danger btn-sm" href="/Tasks/Delete?id=@item.TaskID">Delete</a>
                </td>
            </tr>
        }
        
    </tbody>

</table>